apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
    role: backup
spec:
  schedule: "*/{{ interval_minutes }} * * * *"
  activeDeadlineSeconds: 18000
  backoffLimit: 1
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          name: {{ name }}
        spec:
          containers:
          - name: backup
            image: {{ registry_url }}/{{ image_namespace }}/mysql:{{ mysql_version }}
            env:
            - name: ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: database_root_password
                  name: {{ mysql_service }}
            - name: DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  key: database_name
                  name: {{ mysql_service }}
            command: ["/bin/bash", "-c"]
            args: ["mysqldump --host {{ mysql_service }} -uroot -p$ROOT_PASSWORD --single-transaction $DATABASE_NAME > /var/backup/backup.sql"]
            volumeMounts:
            - mountPath: /var/backup
              name: backup
          restartPolicy: Never
          volumes:
          - name: backup
            persistentVolumeClaim:
              claimName: {{ name }}-{{ pvc_count }}