apiVersion: v1
kind: PersistentVolumeClaim
metadata:
{% if interval_minutes == 0 %}
  name: {{ name }}
{% else %}
  name: {{ name }}-{{ pvc_count }}
{% endif %}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ volume_capacity }}
