apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ volume_capacity }}
