apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
stringData:
  database_name: {{ mysql_database }}
  database_password: {{ mysql_password }}
  database_root_password: {{ mysql_root_password }}
  database_user: {{ mysql_user }}
